<%-include("./partials/header")-%>
<main class=" ">
  <h1 class="text-white font-extrabold text-center text-4xl">
    Create new item
  </h1>
  <div class="list-container m-2">
    <form action="/tasks" method="POST">
      <input
        class="text-black p-2"
        type="text"
        id="title"
        name="title"
        placeholder="Task..."
        required
      />
      <button class="bg-black text-white p-2 rounded-md">Add task</button>
    </form>
</main>
<%- include('./partials/footer.ejs') %>
